<app-menu></app-menu>
<section class="heading">

    <span class="page-title font-weight-bold font-italic">{{title}}</span>

    <a routerLink='/requests/list'>Return To List
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
</section>
<table *ngIf="request" class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="request.user">
            <td>{{ request.id }}</td>
            <td>{{ request.user.userName }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.total }}</td>
    </tbody>
</table>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">Line-Items</span>
   
   <span> <!--*ngIf='request.user && request.status == "New" && (loggedInUser.admin || request.user.id == loggedInUser.id)'
   -->       <a routerLink="/line-items/create/{{ request.id }}"><img width="20" height="20" src="assets/add-icon.png"
            title='Add'></a>
            </span>
</section>

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngIf="lineItems" class="table table-sm table-striped">
        <tr *ngFor="let lineItem of lineItems">
            <td>{{ lineItem.id }}</td>
            <td>{{ lineItem.product.name }}</td>
            <td>{{ lineItem.quantity }}</td>
            <td>{{ lineItem.product.price | currency }}</td>
            <td>{{ lineItem.product.price * lineItem.quantity | currency }}</td>
            <td *ngIf='request.user'>
                 <!-- <a *ngIf='loggedInUser.admin || (request.user.id == loggedInUser.id && request.status == "New")'
                   --> <a  routerLink='/line-items/edit/{{lineItem.id}}'>
                    <img width='20' height='20' src='assets/pencil-icon.png' title='Edit'>
                </a>
                <!--*ngIf='loggedInUser.admin || (request.user.id == loggedInUser.id && request.status == "New")'
                -->
                <!-- <a  routerLink='/requests/request-lines/{{request.id}}'> -->
                  <button (click)='delete(lineItem.id)' style='border:none;'> <img  width='20' height='20' src='assets/delete.jpg' title='Delete'></button> 
            </td>
        </tr>
    </tbody>
</table>

<span *ngIf="!lineItems || lineItems.length==0"><td colspan="3">No line items, yet.  Please create a new one!</span>
            <span *ngIf="lineItems && request.status == 'New' && (loggedInUser.admin || request.user.id == loggedInUser.id)">
                <button (click)="submitRequestToReview()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button>
           </span>
           <!--  <button (click)="delete(lineItems.id)" class="btn btn-sm btn-danger">Delete</button>
</span> -->