
<app-menu></app-menu>
<section class="heading">

    <span class="page-title font-weight-bold font-italic">{{title}}</span>

    <a routerLink='/requests/create'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
</section>
<table *ngIf="requests" class="table table-sm table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Description</th>
            <th>Justification</th>
            <th>Status</th>
            <th>Date Submitted</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
            <td>{{ request.id }}</td>
            <td>{{ request.user.userName }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.justification }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.submittedDate }}</td>
            <td>
                <a routerLink='/requests/detail/{{request.id}}'>
                    <img width='20' height='20' src='assets/details.png' title='Details'>
                </a> |
                <a routerLink='/requests/edit/{{request.id}}'>
                    <img width='20' height='20' src='assets/pencil-icon.png' title='Edit Request'>
                </a>
                |
                <a routerLink='/requests/request-lines/{{request.id}}'>
                    <img width='20' height='20' src='assets/lines.png' title='Edit Line Item'>
                </a>
            </td>
        </tr>
    </tbody>
</table>